@model Employee

<h2>Add Employee</h2>

<form method="post">
    Name: <input asp-for="Name" /><br />
    Department: <input asp-for="Department" /><br />
    Salary: <input asp-for="Salary" /><br />

    <button type="submit">Save</button>
</form>